:root {
  --web-max-width: 1280px;
  /* Sizes */
  --s-small: 0.5rem;
  --s-medium: 0.8rem;
  --s-normal: 1rem;
  --s-big: 1.5rem;
  /* Padding */
  --p-tiny: 0.5rem;
  --p-small: 1rem;
  --p-medium: 2rem;
  --p-big: 3rem;
  --p-high: 5rem;
  /* Colors */
  --main-color: #ff3b59;
  --secondary-color: rgb(0, 234, 194);
  --secondary-color-light: rgb(209, 254, 246);
  --white: rgb(255, 255, 255);
  --gray-lighter: rgb(242, 241, 241);
  --gray-light: rgb(202, 202, 202);
  --gray: rgb(171, 171, 171);
  --gray-dark: rgb(92, 92, 92);
}
