.progress-bar-ctn {
  padding: var(--p-medium);
}

.progress-bar-base {
  background-color: var(--secondary-color-light);
  border-radius: 8rem;
}

.progress-bar-inner {
  background-color: var(--secondary-color);
  text-align: right;
  border-radius: 8rem;
  > p {
    padding-left: var(--p-small);
  }
}
